.markdownStyles {
  color: var(--chakra-colors-fg-default, #1e2433);
  display: flex;
  flex-direction: column;
  gap: 1em; /* Intended for longer form content like update modals */
}

.markdownStyles > h1,
.markdownStyles > h2,
.markdownStyles > h3,
.markdownStyles > h4 {
  margin-bottom: 0.5em !important;
}
.markdownStyles > h1:not(:first-child),
.markdownStyles > h2:not(:first-child),
.markdownStyles > h3:not(:first-child),
.markdownStyles > h4:not(:first-child) {
  margin-top: 1em !important;
}

.markdownStyles ol,
.markdownStyles ul {
  margin-top: 8px;
  padding-inline-start: 16px;
}

.markdownStyles ul {
  list-style-type: disc;
}

.markdownStyles ol {
  list-style-type: decimal;
}

.markdownStyles ul ul {
  list-style-type: circle;
}

.markdownStyles ul ul ul {
  list-style-type: square;
}

.markdownStyles li {
  /* 1.5x standard line height (14px base) */
  line-height: calc(14px * 1.5);
  margin-bottom: 8px;
}
